@font-face {
    font-family: Tahoma, sans-serif;
    src: url("../fonts/Tahoma.woff2");
    src: url("../fonts/Tahoma-Bold.woff2");
}
/* inputs, buttons */
input, input:valid, input:invalid{
    width: 100%;
    height: 46px;
    border-radius: 46px;
    border: 1px solid #3B82F7;
    color: #757575;
    background-color: white;
    outline: #3B82F7;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
}
input.invalid{
    border: 1px solid #FA0101;
}
label{
    color: #FA0101;
    width: 100%;
    text-align: center;
    opacity: 0;
}

label span{
    margin: 4px 0;
    display: block;
}
input:disabled{
    background: #F7F7F7;
    border: 1px solid #BDBEBF;
    color: #BDBEBF;
}
input.pin{
    margin-bottom: 20px
}
button{
    width: 100%;
    height: 46px;
    border-radius: 46px;
    text-transform: uppercase;
    background-color: #3B82F7;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
}
button a{
    text-decoration: none;
    color: white;
    width: 100%
}
button:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3B82F7;
}
button:focus{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #3B82F7;
}
button:disabled{
    background-color: #BDBEBF;
}


@media screen{
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/bg_desktop.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative
    }
    body * {
        box-sizing: border-box;
        font-family: Tahoma, sans-serif;
    }

    body .popup{
        max-width: 348px;
        max-height: 407px;
        padding: 29px 27px;
        margin: auto;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;

    }
    body .popup .wrapper, body .popup .text-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%
    }

    body .popup .text-wrapper h1 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 22px;
    }
    body .popup .text-wrapper h2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 39px;
        margin-top: 0;
    }
    body .wrapper .popup__images{
        width: 144px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 29px auto;
    }


    body footer{
        height: 40px;
        max-width: 1152px;
        position: absolute;
        bottom: 0;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;


    }
    body footer::-webkit-scrollbar {
        display: none;
    }

    body footer p{
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        margin: 0;

    }
    @media(orientation: portrait){
        body{
            background-image: url("../img/bg_tablet.png");
        }
    }
    @media (max-width: 1024px){
        body{
            background-image: url("../img/bg_iphone_8.png");
        }
        body footer{
            max-width: calc(100vw - 30px);
        }
    }
    @media (max-height: 520px){
        body .popup{
            flex-direction: row;
            max-width: 545px;
            justify-content: space-between;
            z-index: 2;
        }
        body .popup .wrapper, body .popup .text-wrapper{
            width: calc(50% - 20px)
        }
        body footer{
            z-index: 0
        }
    }

}


